In [1]:
#import required libraries
import numpy as np
import pandas as pd

In [2]:
# import the boston dataset
from sklearn.datasets import load_boston
boston_dataset = load_boston()

In [3]:
# create a pandas dataframe and store the data
df_boston = pd.DataFrame(boston_dataset.data)
df_boston.columns = boston_dataset.feature_names

In [4]:
# append Price, target, as a new columnn to the dataset
df_boston['Price'] = boston_dataset.target

In [5]:
# print top 5 observations
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [7]:
# assign features on X axis 
X_features = boston_dataset.data

In [8]:
# assign target on X axis 
Y_target = boston_dataset.target

In [9]:
# import linear model - the estimator
from sklearn.linear_model import LinearRegression
lineReg = LinearRegression()

In [10]:
# fit data into the the estimator
lineReg.fit(X_features,Y_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
# print the intercept 
print ('the estimated intercept %.2f '%lineReg.intercept_)

the estimated intercept 36.46

In [12]:
# print the coefficient 
print ('the coefficient is %d ' %len(lineReg.coef_))

the coefficient is 13

In [13]:
# train model split the whole dataset into train and test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_features,Y_target)

In [14]:
# print the dataset shape
boston_dataset.data.shape

(506, 13)

In [15]:
# Print shapes of the training and testing data sets
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((379, 13), (127, 13), (379,), (127,))

In [16]:
# fit the training sets into the model
lineReg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
# The mean square error (MSE) or residual sum of squares
print ('MSE value is %.2f '% np.mean((lineReg.predict(X_test)-Y_test) ** 2))

MSE value is 26.76

In [19]:
# calculate R-square
print ('R-square score is %.2f ' % lineReg.score(X_test,Y_test))

R-square score is 0.71