In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/middle_tn_schools.csv')

In [3]:
df.describe()

,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
count,347.000000,347.000000,347.000000,347.000000,341.000000,347.000000,341.000000,347.000000,347.000000,347.000000,347.000000,347.000000,347.000000
mean,2.968300,699.472622,50.279539,58.801729,58.249267,15.461671,57.004692,57.049856,44.939481,21.197983,61.673487,2.642651,11.164553
std,1.690377,400.598636,25.480236,32.540747,32.702630,5.725170,26.696450,27.968974,22.053386,23.562538,27.274859,3.109629,12.030608
min,0.000000,53.000000,2.000000,0.200000,0.600000,4.700000,1.500000,0.100000,2.000000,0.000000,1.100000,0.000000,0.000000
25%,2.000000,420.500000,30.000000,30.950000,27.100000,13.700000,37.600000,37.000000,30.000000,3.600000,40.600000,0.750000,3.800000
50%,3.000000,595.000000,51.000000,66.400000,65.800000,15.000000,61.800000,60.700000,40.000000,13.500000,68.700000,1.600000,6.400000
75%,4.000000,851.000000,71.500000,88.000000,88.600000,16.700000,79.600000,80.250000,54.000000,28.350000,85.950000,3.100000,13.800000
max,5.000000,2314.000000,98.000000,99.800000,99.800000,111.000000,99.000000,98.900000,140.000000,97.400000,99.700000,21.100000,65.200000

In [4]:
df.corr()

,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
school_rating,1.000000,0.181428,-0.815757,0.985545,0.937817,0.203459,0.941336,0.982390,0.122910,-0.593869,0.639014,0.161469,-0.376288
size,0.181428,1.000000,-0.277807,0.171060,0.162887,0.143173,0.161788,0.143289,0.966880,-0.148405,0.102904,0.193491,-0.017660
reduced_lunch,-0.815757,-0.277807,1.000000,-0.815720,-0.825085,-0.197428,-0.839536,-0.816479,-0.214848,0.562921,-0.668327,-0.226385,0.490446
state_percentile_16,0.985545,0.171060,-0.815720,1.000000,0.949694,0.186893,0.949197,0.994085,0.117061,-0.573810,0.625374,0.151021,-0.383017
state_percentile_15,0.937817,0.162887,-0.825085,0.949694,1.000000,0.141066,0.991847,0.946101,0.109569,-0.564929,0.612183,0.181822,-0.371708
stu_teach_ratio,0.203459,0.143173,-0.197428,0.186893,0.141066,1.000000,0.147963,0.175880,0.019594,-0.122307,0.134595,0.089211,-0.089307
avg_score_15,0.941336,0.161788,-0.839536,0.949197,0.991847,0.147963,1.000000,0.953714,0.105186,-0.595062,0.637500,0.192656,-0.374300
avg_score_16,0.982390,0.143289,-0.816479,0.994085,0.946101,0.175880,0.953714,1.000000,0.089338,-0.592876,0.635201,0.172739,-0.373618
full_time_teachers,0.122910,0.966880,-0.214848,0.117061,0.109569,0.019594,0.105186,0.089338,1.000000,-0.113515,0.055672,0.146726,0.026130
percent_black,-0.593869,-0.148405,0.562921,-0.573810,-0.564929,-0.122307,-0.595062,-0.592876,-0.113515,1.000000,-0.874202,-0.112274,0.086627
percent_white,0.639014,0.102904,-0.668327,0.625374,0.612183,0.134595,0.637500,0.635201,0.055672,-0.874202,1.000000,-0.092287,-0.537571
percent_asian,0.161469,0.193491,-0.226385,0.151021,0.181822,0.089211,0.192656,0.172739,0.146726,-0.112274,-0.092287,1.000000,0.187277
percent_hispanic,-0.376288,-0.017660,0.490446,-0.383017,-0.371708,-0.089307,-0.374300,-0.373618,0.026130,0.086627,-0.537571,0.187277,1.000000

In [5]:
df[['reduced_lunch','school_rating']].corr()

               reduced_lunch  school_rating
reduced_lunch       1.000000      -0.815757
school_rating      -0.815757       1.000000