In [1]:
import pandas as pd

#### Create DataFrame from dict of equal length lists

In [2]:
#last five olymnics data: place, year and number of countries participated
olympic_data_list = {'HostCity':['London','Beijing','Athens','Sydney','Atlanta'],
                  'Year':[2012,2008,2004,2000,1996],
                   'No. of Participating Countries':[205,204,201,200,197]
                  }

In [3]:
df_olympic_data = pd.DataFrame(olympic_data_list)

In [4]:
df_olympic_data

  HostCity  Year  No. of Participating Countries
0   London  2012                             205
1  Beijing  2008                             204
2   Athens  2004                             201
3   Sydney  2000                             200
4  Atlanta  1996                             197

#### Create DataFrame from dict of dicts

In [5]:
olympic_data_dict = {'London':{2012:205},'Beijing':{2008:204}}

In [6]:
olympic_data_dict = {'London':{2012:205,2008:23},'Beijing':{2008:204,2012:1}}

In [7]:
df_olympic_data_dict = pd.DataFrame(olympic_data_dict)

In [8]:
df_olympic_data_dict

      London  Beijing
2008      23      204
2012     205        1

In [9]:
#select by City name
df_olympic_data.columns

Index(['HostCity', 'Year', 'No. of Participating Countries'], dtype='object')

In [10]:
df_olympic_data['No. of Participating Countries']

0    205
1    204
2    201
3    200
4    197
Name: No. of Participating Countries, dtype: int64

In [12]:
df_olympic_data.dtypes

HostCity                          object
Year                               int64
No. of Participating Countries     int64
dtype: object

In [13]:
#use describe function to display the content
df_olympic_data.describe(include=['O'])

       HostCity
count         5
unique        5
top      Athens
freq          1

#### Create DataFrame from dict of series

In [14]:
olympic_series_participation = pd.Series([205,204,201,200,197],index=[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['London','Beijing','Athens','Sydney','Atlanta'],
                                   index=[2012,2008,2004,2000,1996])

In [45]:
df_olympic_series = pd.DataFrame({'No. of Participating Countries':olympic_series_participation,
                                  'Host Cities':olympic_series_country})

In [16]:
df_olympic_series

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta

#### Create DataFrame from dict of ndarray

In [17]:
import numpy as np

In [18]:
np_array = np.array([2012,2008,2004,2006])
dict_ndarray = {'year':np_array}

In [19]:
df_ndarray = pd.DataFrame(dict_ndarray)

In [20]:
df_ndarray

   year
0  2012
1  2008
2  2004
3  2006

#### Create DataFrame from DataFrame object

In [46]:
df_from_df = pd.DataFrame(df_olympic_series)

In [47]:
df_from_df

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta

In [28]:
# df_from_df.columns = ['a','b']
df_from_df

        a        b
2012  205   London
2008  204  Beijing
2004  201   Athens
2000  200   Sydney
1996  197  Atlanta

In [38]:
#view values 
df_from_df.values.tolist()

[[205, 'London'],
 [204, 'Beijing'],
 [201, 'Athens'],
 [200, 'Sydney'],
 [197, 'Atlanta']]

#### View dataset

In [30]:
df_from_df

        a        b
2012  205   London
2008  204  Beijing
2004  201   Athens
2000  200   Sydney
1996  197  Atlanta

In [31]:
#view top 2 rows of the dataset
df_from_df.head(2)

        a        b
2012  205   London
2008  204  Beijing

In [32]:
#view bottom two rows of dataset
df_from_df.tail(2)

        a        b
2000  200   Sydney
1996  197  Atlanta

In [33]:
df_from_df.sample(2)

        a        b
2008  204  Beijing
2004  201   Athens

In [37]:
#view indexes of dataset
df_from_df.index.values

array([2012, 2008, 2004, 2000, 1996])

In [34]:
#view columns of the dataset
df_from_df.columns

Index(['a', 'b'], dtype='object')

In [36]:
#view columns of the dataset
df_from_df.columns.values

array(['a', 'b'], dtype=object)

#### Select dataset

In [48]:
df_from_df

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens
2000                             200      Sydney
1996                             197     Atlanta

In [49]:
#select column name from the dataset
df_from_df['No. of Participating Countries']

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No. of Participating Countries, dtype: int64

In [52]:
#select column name from the dataset
df_from_df.loc[2000]

No. of Participating Countries       200
Host Cities                       Sydney
Name: 2000, dtype: object

In [54]:
#select column name from the dataset
df_from_df.iloc[3]

No. of Participating Countries       200
Host Cities                       Sydney
Name: 2000, dtype: object

In [50]:
#select column name from the dataset
type(df_from_df['No. of Participating Countries'])

pandas.core.series.Series

In [55]:
#another selecion by column name
df_from_df['Host Cities']

2012     London
2008    Beijing
2004     Athens
2000     Sydney
1996    Atlanta
Name: Host Cities, dtype: object

In [56]:
#select elements by index location
df_from_df.loc[2012]

No. of Participating Countries       205
Host Cities                       London
Name: 2012, dtype: object

In [57]:
#select elements by slicing from 0 to 2
df_from_df.iloc[0:2]

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing

In [65]:
df_from_df['No. of Participating Countries']

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No. of Participating Countries, dtype: int64

In [64]:
df_from_df.iloc[:,0]

2012    205
2008    204
2004    201
2000    200
1996    197
Name: No. of Participating Countries, dtype: int64

In [29]:
#select element by position
df_from_df.iat[2,1]

'Athens'

In [59]:
mask = df_from_df['No. of Participating Countries']>200

In [60]:
mask

2012     True
2008     True
2004     True
2000    False
1996    False
Name: No. of Participating Countries, dtype: bool

In [30]:
# select element by boolean indexing where countries participated are more than 200
df_from_df[mask]

      No. of Participating Countries Host Cities
2012                             205      London
2008                             204     Beijing
2004                             201      Athens