### Start Pandas Series Exercises

#### Exercise 01 : Create simple series

In [1]:
import numpy as np
import pandas as pd

In [2]:
#print a simple series with list as an argument
first_series = pd.Series(list('abcdef'))

In [3]:
print (first_series)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

#### Exercise 02 : Create Series from ndarray

In [4]:
#create a series using ndarray countries data
np_country = np.array(['Luxembourg','Norway','Japan','Switzerland','United States','Qatar','Iceland','Sweden',
                       'Singapore','Denmark'])

In [5]:
s_country = pd.Series(np_country)

In [6]:
print (s_country)

0       Luxembourg
1           Norway
2            Japan
3      Switzerland
4    United States
5            Qatar
6          Iceland
7           Sweden
8        Singapore
9          Denmark
dtype: object

#### Exercise 03 : Create Series from 2 lists

In [7]:
#Evaluate countries and their corresponding gdp per capita and print them as series
dict_country_gdp = pd.Series([52056.01781,40258.80862,40034.85063,39578.07441,39170.41371,
                              37958.23146,37691.02733,36152.66676,34706.19047,33630.24604,
                              33529.83052,30860.12808],index=['Luxembourg','Macao, China','Norway',
                'Japan','Switzerland','Hong Kong, China','United States','Qatar','Iceland','Sweden',
                'Singapore','Denmark'])

In [8]:
print (dict_country_gdp)

Luxembourg          52056.01781
Macao, China        40258.80862
Norway              40034.85063
Japan               39578.07441
Switzerland         39170.41371
Hong Kong, China    37958.23146
United States       37691.02733
Qatar               36152.66676
Iceland             34706.19047
Sweden              33630.24604
Singapore           33529.83052
Denmark             30860.12808
dtype: float64

#### Exercise 04: Access elements in Series

In [9]:
#access elements in the series
dict_country_gdp[0]

52056.01781

In [10]:
#access first 5 countries from the series
dict_country_gdp[0:5]

Luxembourg      52056.01781
Macao, China    40258.80862
Norway          40034.85063
Japan           39578.07441
Switzerland     39170.41371
dtype: float64

In [11]:
#look up a country by name or index
dict_country_gdp.loc['United States']

37691.02733

In [12]:
#look up by position
dict_country_gdp.iloc[0]

52056.01781

#### Exercise 05 : Create Series from scalar

In [12]:
#Print Series with scalar input
scalar_series = pd.Series(5.,index=['a','b','c','d','e'])

In [13]:
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

##### Exercise 05 : Vectorized Operations

In [14]:
#declare two different vector series with same indexes
first_vector_series = pd.Series([1,2,3,4],index=['a','b','c','d'])
second_vector_series = pd.Series([10,20,30,40],index=['a','b','c','d'])

In [15]:
first_vector_series+second_vector_series

a    11
b    22
c    33
d    44
dtype: int64

In [16]:
#now shuffle index of second vector series
second_vector_series = pd.Series([10,20,30,40],index=['a','d','b','c'])

In [17]:
first_vector_series+second_vector_series

a    11
b    32
c    43
d    24
dtype: int64

In [19]:
second_vector_series

a    10
d    20
b    30
c    40
dtype: int64

In [20]:
second_vector_series+ first_vector_series

a    11
b    32
c    43
d    24
dtype: int64

In [21]:
#now replace few indexes with new ones in second vector series
second_vector_series = pd.Series([10,20,30,40],index=['a','b','e','f'])

In [22]:
second_vector_series

a    10
b    20
e    30
f    40
dtype: int64

In [23]:
first_vector_series

a    1
b    2
c    3
d    4
dtype: int64

In [24]:
first_vector_series+second_vector_series

a    11.0
b    22.0
c     NaN
d     NaN
e     NaN
f     NaN
dtype: float64

In [25]:
2 + 3

5

In [26]:
2 + 3.

5.0

In [27]:
d_s = {'a':1,'b':2}

In [28]:
pd.Series(d_s)

a    1
b    2
dtype: int64