In [1]:
#import libraries
import pandas as pd

In [2]:
#create test score dataset for test takers
df_test_scores = pd.DataFrame({'Math':[91,97,66,83,45],
                             'English':[93,88,55,65,74]},
                              index=['James','David','Stacy','Travis','Mike'])

In [4]:
df_test_scores

        Math  English
James     91       93
David     97       88
Stacy     66       55
Travis    83       65
Mike      45       74

In [3]:
#view the content of the dataset
df_test_scores.describe()

            Math    English
count   5.000000   5.000000
mean   76.400000  75.000000
std    21.066561  15.763883
min    45.000000  55.000000
25%    66.000000  65.000000
50%    83.000000  74.000000
75%    91.000000  88.000000
max    97.000000  93.000000

In [4]:
#use describe() function to view dataset statistics
df_test_scores.describe()

         English       Math
count   5.000000   5.000000
mean   75.000000  76.400000
std    15.763883  21.066561
min    55.000000  45.000000
25%    65.000000  66.000000
50%    74.000000  83.000000
75%    88.000000  91.000000
max    93.000000  97.000000

In [5]:
#define a custom function to grade the test scores
def test_grade(score):
    if score>90:
        return 'A'
    elif score>80:
        return 'B'
    elif score>70:
        return 'C'
    elif score>60:
        return 'D'
    else:
        return 'F'

In [6]:
#validate/test the custom function 
test_grade(85)

'B'

In [8]:
df_test_scores

        Math  English
James     91       93
David     97       88
Stacy     66       55
Travis    83       65
Mike      45       74

In [10]:
#use applymap method to the dataset to view the grade for tests
df_test_scores.map?

Object `df_test_scores.map` not found.